#main-header {
	color: white;
}
h1 {
	color: white;
	text-shadow: 1px 1px 2px #000, 0 0 1em #4285f4, 0 0 0.2em #4285f4;
	margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.jumbotron {
	color: black;
	box-shadow: 1px 1px 2px #000, 0 0 1em #4285f4, 0 0 0.2em #4285f4;
}
li.list-group-item {
	font-size: 1.6em;
}